.buttonCss{
  font: 100% arial; 
  border-width: 1px; 
  border-color: rgb(216, 216, 216);
  width: auto; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #ededed; 
  color: #666;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}
