.table2 a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.table2 a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.table2 a:active,
.table2 a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.table2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.table2 th {
	padding:15px 20px 15px 20px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.table2 th:first-child {
	text-align: center;
	padding-left:20px;
}

.table2 tr:nth-child(even){
    background-color: #fafafa; 
}
.table2 tr:first-child{
    background-color: #ccc; 
}
.table2 tr:nth-child(odd){
    background-color: #e0e0e0; 
}

.table2 tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.table2 tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.table2 tr {
	text-align: center;
	padding-left:20px;
}
.table2 td:first-child {
	text-align: center;
	padding-left:20px;
	border-left: 0;
}
.table2 td {
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.table2 tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.table2 tr:last-child td {
	border-bottom:0;
}
.table2 tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.table2 tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
