@charset "UTF-8";
/* CSS Document */

body{
	background-color:#fff;
	padding:0px;
	margin:0px;
	font-family:Trebuchet MS,Helvetica,sans-serif;
	font-size:14px;
	line-height:24px;
	color:#494949;
	background-image:url(images/body-bg.jpg);
	background-repeat:repeat-x;
}

a{
	color:#647B8C;
}

a:hover {
	text-decoration:none;

}

p {
	margin-bottom: 15px;
}

h1 {
	color: #93A985;
	font-weight: normal;
	font-size: 40px;
}

h2 {
	color: #93A985;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	letter-spacing: 0.5px;
	font-weight: bold;
	padding: 0 0 5px;
	margin: 0;
	border-bottom:1px solid #C8D1BA;
}

h3 {
	color: #93A985;
	font-size: 17px;
	font-weight: normal;
	margin-bottom: 10px;
}

h4 {
	padding-bottom: 10px;
	font-size: 15px;
	color: #999;
}

h5 {
	padding-bottom: 10px;
	font-size: 13px;
	color: #fff;
}

ul, ol {
	margin: 0 0 35px 35px;
}

li ol, li ul {
	font-size: 1.0em;
	margin-bottom: 0;
	padding-top: 5px;
}
#header_image
{
    text-align:center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

#wrapper
{
    width:auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
	background-color:#FFFFFF;
}

#header{
	height:143px;
	padding:0px;
	background-color:#FFFFFF;
    width: 1211px;
}

#logo{
	float:left;
	clear:none;
}
#logo h1 {
border-bottom:0 none;
color:#93A985;
font-size:44px;
font-family:Georgia, "Times New Roman", Times, serif;
margin:0;
padding:0 0 0 26px;
text-transform:none;
line-height:1em;
}
.logo-colour {
	color:#647B8C;

}
#menu{
	background:#93A985;
	height:40px;
	margin-top:0px;
}

#menu ul{
	margin:0px;
	padding:0px;
}

#menu ul li{
	list-style:none;
	float:left;
	clear:none;
	margin-left:1px;
	margin-top:5px;
}

#menu ul li a{
	display:block;
	width:125px;
	height:27px;
	text-decoration:none;
	font-size:13px;
	cursor:pointer;
	text-align:center;
	color:#ffffff;
	padding-top:4px;
}

#menu ul li a:hover, #menu ul li.active a{
	text-decoration:underline;
}

#content{
	background:#fff;
	padding:20px 0px 20px 0px;
	width:960px;
	float:left;
}

#main{
	float:left;
	clear:none;
	width:605px;
	margin:0 0 0 15px;
	padding:0;
}

#sidebar{
	float:left;
	clear:none;
	width:280px;
	margin:0 15px 0 25px;
	padding:10px;
	background-color:#F3F5F0;
}

#sidebar h4 {
	border-bottom:1px solid #C8D1BA;
	color:#93A985;
	font-size:20px;

}



#bottom {
	margin-top:5px; 
	width:605px;
	

}

.sub_title{
	color:#93A985;
	font-size:20px;
	font-weight:bold;
}

.latestcol-inner{

}

.latestcol-inner a{
	font-weight:bold;
}

#divider{
	background:#C8D1BA;
	height:1px;
	margin-bottom:15px;
}

#latestprods {
	width:930px;

}

.latestcol{
	float:left;
	clear:none;
	margin-right:52px;
	margin-bottom:0px;
	padding:3px;
	width:157px;
}

.latestcol-last{
	margin-right:0px;
}

.more_btn{
	text-align:right;
	margin-top:10px;
}

.more_btn a {
	color:#FFFFFF;
	background-color:#93A985;
	padding:5px 25px;
	-moz-border-radius:8px;

}

#footer{
	background:#93A985;
	font-size:11px;
	padding:7px 15px 0px 15px;
	margin-bottom:40px;
	color:#444;
	text-align:right;
	border-top:1px solid #C8D1BA;
}


#footer a{
	font-size:11px;
	color:#444;
}


#signIn {
position:relative;
top:19px;
width:51px;
margin-right:auto; margin-left:0px;
    left: 2px;
    height: 256px;
    margin-top: 0px;
    font: 11px Arial, Helvetica, sans-serif;
color: #747474;
background-color: #0c2a62;
}


#signup {
position:relative;
top:-201px;
width:500px;
margin-left:auto; margin-right:0px;
    left: -63px;
    margin-top: 0px;

}

#sign_in_table {
top:50px;

}



/*
Modern table design - template
Download more PSD stuff from www.psdgraphics.com
*/
#psdgraphics-com-table{
position:relative;
top:10px;
width: 600px;
margin-left: auto;
margin-right: 0px;
right: 5px;
font: 11px Arial, Helvetica, sans-serif;
color: #747474;
background-color: #0c2a62;
height: 501px;
}


#psdg-header {
	margin:0;
	padding: 14px 0 0 24px;
	height: 55px;
	color:#FFF;
	font-size:13px;
	background: #0c2c65 url(images/head-bcg.jpg) no-repeat right top;	
}

.psdg-bold {
	font: bold 22px Arial, Helvetica, sans-serif;
	
}

#psdg-top {
	margin:0;
	padding: 0;
	width: 578px;
	height: 46px;
	border-top: 2px solid #FFF;
	background: #eff4ff url(images/top-light-blue.png) repeat-x left top;	
}

.psdg-top-cell {
	float:left;
	padding: 15px 0 0 0;
	text-align:center;
	width:105px;
	height: 31px;
	border-right: 1px solid #ced9ec;
	color:#1f3d71;
	font: 13px Arial, Helvetica, sans-serif;
}

#psdg-middle {
	margin:0;
	padding: 0;
	width: 578px;
	background: #f6f6f6 url(images/center-bcg.png) repeat-y right top;	
}

.psdg-left {
	float:left;
	margin:0;
	padding: 10px 0 0 24px;
	width: 129px;
	text-align: left;
	height: 25px;
	border-right: 1px solid #ced9ec;
	border-bottom: 1px solid #b3c1db;
	color:#1f3d71;
	font: 13px Arial, Helvetica, sans-serif;
	background: #e4ebf8 url(images/center-blue.png) repeat-y left top;
}



.psdg-right {
	float:left;
	margin:0;
	padding: 11px 0 0 0;
	width: 105px;
	text-align:center;
	height: 24px;
	border-right: 1px solid #ced9ec;
	border-bottom: 1px solid #b3c1db;
}

#psdg-bottom {
	clear:both;
	margin:0;
	padding: 0;
	width: 578px;
	height: 48px;
	border-top: 2px solid #FFF;
	background: #e4e3e3 url(images/bottom-line.png) repeat-x left top;	
}


.psdg-bottom-cell {
	float:left;
	padding: 15px 0 0 0;
	text-align:center;
	width:105px;
	height: 33px;
	border-right: 1px solid #ced9ec;
	color:#070707;
	font: 13px Arial, Helvetica, sans-serif;
}



#psdg-footer {
	font-size: 10px;
	color:#8a8a8a;
	margin:0;
	padding: 8px 0 8px 12px;
	width: 566px;
	background: #f6f6f6 url(images/center-bcg.png) repeat-y right top;	
}

