<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Yeni.master.cs" Inherits="Yeni" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<%@ Register Src="~/Notifier.ascx" TagPrefix="uc1" TagName="Notifier" %>


<!DOCTYPE HTML>
<html>

<head runat="server">
    <title>SNP DATABASE</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" id="theme" href="css/style.css" />
    <link rel="stylesheet" href="css/slide.css" type="text/css" media="screen" />
    <!-- modernizr enables HTML5 elements and feature detects -->
    <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
    <script src="js/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="js/slide.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="headContent" runat="server">
    </asp:ContentPlaceHolder>
</head>

<body>
    <form id="Form1" class="clearfix" action="#" method="post" runat="server">
    <div id="main">
        <header>

            <div id="toppanel">
                <div id="panel">
                    <div class="content clearfix">
                        
                            <div class="left">
                                <!-- Login Form -->

                                <h1>Member Login</h1>
                                <label class="grey" for="log">Username:</label>
                                <asp:TextBox ID="L_UserName" class="field" runat="server"></asp:TextBox>
                                <label class="grey" for="pwd">Password:</label>
                                <asp:TextBox TextMode="password" ID="L_passwd"  class="field" runat="server"></asp:TextBox>
                                <label>
                                    <input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="forever" />
                                    &nbsp;Remember me</label>
                                <div class="clear"></div>
                                <asp:Button ID="Login" runat="server" Text="Login" class="bt_login" OnClick="Login_Click" />
                                <a class="lost-pwd" href="#">Lost your password?</a>

                            </div>
                            <div class="left right">
                                <!-- Register Form -->

                                <h1>Not a member yet? Sign Up!</h1>
                                <label class="grey" for="signup">Username:</label>
                                <asp:TextBox ID="R_Username" class="field" runat="server"></asp:TextBox>

                                <label class="grey" for="signup">First Name:</label>
                                <asp:TextBox ID="FirstName" class="field" runat="server"></asp:TextBox>

                                <label class="grey" for="LastName">Last Name:</label>
                                <asp:TextBox ID="LastName" class="field" runat="server"></asp:TextBox>

                                <label class="grey" for="signup">Password:</label>
                                <asp:TextBox TextMode="password" ID="R_Passwd" class="field" runat="server"></asp:TextBox>
                                
                                <label class="grey" for="signup">Confirm Password:</label>
                                <asp:TextBox TextMode="password" ID="R_ConfirmPasswd" class="field" runat="server"></asp:TextBox>

                                <label class="grey" for="email">Email:</label>
                                <asp:TextBox ID="Email" class="field" runat="server"></asp:TextBox>
                                <label>A password will be e-mailed to you.</label>

                                <asp:Button ID="Register" runat="server" Text="Register" class="bt_register" OnClick="Register_Click" />
                            </div>
                      
                    </div>
                </div>
                <!-- /login -->

                <!-- The tab on top -->
                <div class="tab">
                    <ul class="login">
                        <li class="left">&nbsp;</li>     
                        <li> 
                            <asp:Label ID="session_name" runat="server" Text="Hello Guest!"></asp:Label>
                        </li>
                        <li class="sep">|</li>
                        <li id="toggle">
                           
                            <asp:HyperLink ID="login_signUp" href="#" class="open" runat="server">Log In | Register</asp:HyperLink>
                            <asp:HyperLink ID="logout" Visible="false" href="Logout.aspx" class="open" runat="server">Log Out</asp:HyperLink>
                           
                            <a id="close" style="display: none;" class="close" href="#">Close Panel</a>
                        </li>
                        <li class="right">&nbsp;</li>
                    </ul>
                </div>
                <!-- / top -->
            </div>
            <!--panel -->


            <div id="logo">
                <div id="logo_text">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="HomePage.aspx">SNP<span class="logo_colour"> DATABASE</span></a></h1>
                    <h2>Turkish Diseases Meta-Analysis </h2>
                </div>
            </div>
            <nav>
                <div style="width:1100px">
                    <ul class="sf-menu" id="nav">
                        <li><a href="HomePage.aspx">Home Page</a></li>
                        <li><a href="MetaAnalysis.aspx">Meta-Analysis</a></li>
                        <li><a href="Diseases.aspx">Diseases</a>
                            <ul  style="overflow:scroll;height:200px;width:auto">
                                 <asp:ContentPlaceHolder ID="DiseaseList" runat="server">
                                 </asp:ContentPlaceHolder>
                            </ul>
                        </li>
                        <li><a href="ContactUs.aspx">Contact Us</a></li>
                        <li id="AddNewPublicationLink" runat="server"><a href="AddNewPublication.aspx">Add New Publication</a></li>
                        <li id="AdminPage" runat="server"><a href="AddedResearches.aspx">Admin Page</a></li>
                        <li id="UtilityCalculator" runat="server"><a href="UtilityCalculators.aspx">Utilities</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div id="site_content">
            <!-- content -->
            <uc1:Notifier runat="server" ID="notifier" />
            <div>
                <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server"></asp:ToolkitScriptManager>
                <asp:UpdatePanel runat="server">
                    <ContentTemplate>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>

                        </ContentTemplate>

                </asp:UpdatePanel>
            </div>
        </div>

        <div id="scroll">
            <a title="Scroll to the top" class="top" href="#">
                <img src="images/top.png" alt="top" /></a>
        </div>
        <footer>
            <p class="footer_note">
                Director of publication: Elif Everest<br />
                Project manager: Assoc. Dr. Eda Tahir Turanli<br />
                Molecular Biology and Genetics Programme<br />
                Istanbul Technical University
            </p>
            <p style="text-align: right">Copyright &copy; CSS3_two | <a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>
        </footer>
    </div>
    <!-- javascript at the bottom for fast page loading -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.easing-sooper.js"></script>
    <script type="text/javascript" src="js/jquery.sooperfish.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('ul.sf-menu').sooperfish();
            $('.top').click(function () { $('html, body').animate({ scrollTop: 0 }, 'fast'); return false; });
        });
    </script>
   </form>
</body>
</html>
